# Python virtual environments
.venv/
venv/
env/

# Python cache and build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Local editor settings
.vscode/

# OS files
.DS_Store
Thumbs.db


# Project data (local only)
Input/*.csv
Output/*.csv
